<div class="span6">
    <div class="widget">
        <div class="widget-header">
            <h3>Configuration</h3>
        </div>
        <div class="widget-content">

        </div>
    </div>
</div>
